@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:wght@400;500;600;700;800&display=swap");

/* =========== base style ========= */

* {
  margin: 0;
  padding: 0;
}

section,
footer {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 2rem;
  line-height: 50px;
  font-family: "Poppins", sans-serif;
  color: #0a2b1e;
  font-weight: 600;
}

p {
  color: #596b65;
  font-size: 1rem;
  line-height: 35px;
  font-family: "Andada Pro", serif;
  font-weight: 400;
}

button.btn {
  background: #17bf9e;
  color: #fff;
  padding: 7px 25px;
  border-radius: 50px;
}

i {
  color: #17bf9e;
}
/******** work ******/
.work {
  background-color: #08071c;
  padding: 40px 0;
  height: auto; /* Change height to auto for responsiveness */
  margin-bottom: 500px;
}

.work .heading ,h1 ,h3{
  text-align: center;
  color: #fff;
  padding: 10px 0;
}
.work .content {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
}

.work .box:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
}
.work .box:nth-child(2) {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 4;
}
.work .box:nth-child(3) {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 4;
}
.work .box:nth-child(4) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 8;
  grid-row-end: 8;
}
.work .box:nth-child(5) {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 8;
  grid-row-end: 8;
}
.work .box:nth-child(6) {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 8;
  grid-row-end: 8;
}

.work img {
  width: 100%;
  height: 550px;
  object-fit: cover;
}
.work .box {
  position: relative;
  height: 550px;
  color: #fff;
}
.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 50px;
  position: absolute;
  top: 25%;
  left: 0;
  margin: auto;
  opacity: 0;
}
.overlay h2 {
  font-weight: 500;
  color: #fff;
}
.work .box:hover .overlay {
  opacity: 1;
  cursor: pointer;
}
.work .box::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
}

.work .box:nth-child(5)::after,
.work .box:nth-child(4)::after,
.work .box:nth-child(3)::after,
.work .box:nth-child(2)::after {
  width: 100%;
  height: 100%;
  background: rgba(18, 22, 25, 0.925);
}
.work .box:nth-child(6)::after,
.work .box:nth-child(1)::after {
  width: 100%;
  height: 100%;
  background: rgba(18, 22, 25, 0.925);
}
.work .box:hover::after {
  opacity: 1;
}
.work .box .icon,
.work .box .text {
  position: relative;
  z-index: 4;
}
.work .box p {
  color: #fff;
  margin-top: 20px;
}
.work .box .icon {
  margin-top: 25%;
}
.iconWork {
  position: absolute;
  width: 100%;
}
.iconWork:nth-child(1) {
  left: 160px;
}
.iconWork:nth-child(2) {
  right: 160px;
}

@media screen and (max-width: 768px) {
  .work{
    height: auto; /* Change height to auto for responsiveness */
  margin-bottom: 50px;
  }
  .work .content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 20vw);
  }

  .work .box:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 5;
  }
  .work .box:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 8;
  }

  .work .box:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 8;
    grid-row-end: 11;
  }
  .work .box:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 11;
    grid-row-end: 14;
  }
  .work .box:nth-child(5) {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 14;
    grid-row-end: 17;
  }
  .work .box:nth-child(6) {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 17;
    grid-row-end: 20;
  }

  .work .box:nth-child(5)::after,
  .work .box:nth-child(4)::after,
  .work .box:nth-child(3)::after,
  .work .box:nth-child(2)::after,
  .work .box:nth-child(6)::after,
  .work .box:nth-child(1)::after {
    background: rgba(18, 22, 25, 0.925);
  }
}
/*-------------- Pass Quiz -----------*/
.pass-quiz-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.pass-quiz-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.pass-quiz-container form {
  margin-top: 20px;
}

.pass-quiz-container div.question {
  margin-bottom: 20px;
}

.pass-quiz-container h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.pass-quiz-container ul {
  list-style-type: none;
  padding: 0;
}

.pass-quiz-container li {
  margin-bottom: 10px;
}

.pass-quiz-container label {
  cursor: pointer;
  display: block;
}

.pass-quiz-container input[type="radio"] {
  margin-right: 10px;
}


/************** Enroll page start *************/
/* EnrollPage.css */

.enroll-page {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.video-player {
  flex: 1;
  margin-right: 20px;
}

.sidebar {
  flex: 0 0 250px;
}

.comment-form {
  flex: 1;
}

/* VideoPlayer.css */

.video-player {
  width: 100%;
}

/* Sidebar.css */


/* CommentForm.css */

.comment-form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
}

.comment-form h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.comment-form form {
  display: flex;
  flex-direction: column;
}

.comment-form textarea {
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.comment-form button {
  padding: 10px 20px;
  background-color: #17bf9e;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.comment .dropdown  {
  padding: 0;
}


.comment-form button:hover {
  background-color: #23ac91;
  color: white;
}
.comment-content{
  display: flex;
justify-content: space-between;
border-bottom: 2px solid #08071c;
}
.comment p{
  color: #08071c;
}
.edit-comment textarea {
  width: 100%;
  margin-bottom: 10px;
}

.error-message {
  color: red;
}

.loading-message {
  color: blue;
}
.about {
  height: 80vh;
  width: 100%;
  /* Additional styles if needed */
}
.section{
  height: 100%;
  width: 100%;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
  place-items: center;
  height: 100%;
  width: 100%;
}

.border-container {
  border-width: 3px;
  border-style: solid;
  border-color: teal;
  border-radius: 0.5rem;
  height: 100%;
  width: 100%;
}

.image {
  padding: 0.5rem;
  height: 100%;
  width: 100%;
}

.title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
}

.highlight {
  color: teal;
}

.description {
  font-size: 0.875rem;
  color: #718096;
  line-height: 1.75rem;
  margin-bottom: 1rem;
}

.btn {
  padding: 0.75rem 1.5rem;
  font-size: 0.875rem;
  border: 1px solid #cbd5e0;
  border-radius: 0.5rem;
  font-weight: bold;
}

.contact{
  height: 100%;
  width: 100%;
  background-image: url('./components/assests/images/335.png');
  padding: 20px;
}
.text-center {
  text-align: center;
}

.max-w-600 {
  max-width: 600px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 1.5rem; /* Equivalent to sm:text-3xl for small screens */
  font-weight: bold;
  margin-bottom: 1.25rem; /* Equivalent to mb-5 */
  color: teal;
}

.description {
  font-size: 1.25rem; /* Equivalent to text-sm */
  line-height:2rem;
  color: #000; 
}

.mt-5 {
  margin-top: 1.25rem; /* Equivalent to mt-5 */
  background-color: azure;
}

.input {
  padding: 0.5rem; /* Equivalent to sm:p-3 and p-2 */
  outline: none;
  font-size: 0.875rem; /* Equivalent to text-sm */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Equivalent to shadow-md */
  width: 12rem; /* Equivalent to sm:w-72 and w-60 */
}

.btns {
  padding: 0.5rem; 
  font-size: 0.875rem; 
  font-weight: bold;
  background-color: teal; 
  color: white; 
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); 
  border-radius: 26px;
}
.btns:hover{
  background-color: rgb(16, 154, 154); 
}
.features{
  background-color: #F0F0F0;
}
.a-mail{
  padding-left: 3px;
  color: #17bf9e;
  text-decoration: none;
}

.job{
  display: block;
  background-color: #FFD700;
  background-image: url('./components/assests/images/335.png');
  height: 100%;
  width: 100%;
}
.tit{
  width: 80%;
  padding: 10px 0 0 20px;
}
.tit p{
  padding: 20px;
  width: 80%;
}
.grid{
  display: grid;
  padding: 20px;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
}
.feature-card {

  text-align: center;
  padding: 1.5rem; /* Adjust padding as needed */
  margin-bottom: 1.5rem; /* Adjust margin as needed */
}

.feature-card__image {
  max-width: 60px;
  height: auto;
  margin-bottom: 1rem; /* Adjust margin as needed */
}

.btn- {
  background-color: #1E40AF; /* Blue */
  color: #FFFFFF; /* White */
  border: none;
  padding: 0.75rem 1.5rem; /* Adjust padding as needed */
  font-size: 1rem; /* Adjust font size as needed */
  border-radius: 0.25rem; /* Adjust border radius as needed */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-:hover {
  background-color: #1E3A8A; 
  
}
.cat{
  text-decoration: none;
  color: #17bf9e;
}