.dashboard {
  padding: 20px;
}

.dashboard-title {
  text-align: center;
}

.dashboard-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.chart-container {
  width: 45%; /* Adjust the width as needed */
  margin: 10px;
}


.chart-title {
  text-align: center;
}
.pie-chart {
  height: 350px !important;
  width: 400px !important;
  margin-left: 20px;
}