.dashboard {
  padding: 20px;
}

.dashboard-title {
  text-align: center;
}

.dashboard-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.chart-container {
  width: 45%; 
  margin: 10px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card p {
  font-size: 24px;
  margin: 0;
}

.chart-container {
  width: 45%; 
  margin: 10px;
}

.chart-title {
  text-align: center;
}

.pie-chart {
  height: 350px !important;
  width: 400px !important;
  margin-left: 70px;
}

/* New styles for the user list table */
.user-list-container {
  width: 100%;
  margin: 20px 0; 
}

.user-list-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.user-list-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto; 
}

.user-list-table th,
.user-list-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.user-list-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: center; 
}

.user-list-table td {
  text-align: center; 
}
.user-list-table .action-buttons .role {
  background-color: #4CAF50; /* Green for promote/demote actions */
  color: white;
}

.user-list-table .action-buttons .adminDelete {
  background-color: #f44336; /* Red for delete actions */
  color: white;
}

.user-list-table .action-buttons button:hover {
  opacity: 0.8; /* Slight opacity change on hover */
}
.pagination-buttons{
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .chart-container {
    width: 100%; 
  }

  .pie-chart {
    width: 100% !important;
    height: auto !important;
    margin-left: 0;
  }

  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%;
    margin-bottom: 10px;
  }
  
}
.pagination-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.time-unit-buttons {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}

.time-unit-buttons button {
  margin-right: 5px;
}
.user-list-link{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.View {
  display: block;
  font-size: 18px;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #4CAF50; 
  color: white;
  border: none;
  border-radius: 26px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.View:hover {
  background-color: #45A049; 
}

.View:active {
  background-color: #397D3D; 
}

