/* Styles for Create Quiz Form */

/* Container styles */
.create-quiz-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Form styles */
form {
  margin-top: 20px;
}

/* Question styles */
.question-container {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.question-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.question-container input[type="text"],
.question-container select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Choices styles */
.choices-container ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px;
}

.choices-container ul li {
  margin-bottom: 5px;
}

.choices-container ul li input[type="text"] {
  width: calc(100% - 40px);
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.choices-container ul li button {
  padding: 5px 10px;
  border: none;
  background-color: #dc3545;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.choices-container ul li button:hover {
  background-color: #c82333;
}

/* Correct Answer styles */
.correct-answer-container select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.but{
  display: flex;
  justify-content: space-evenly;
}


